		<div>
					<form action="index.html" method="post" class="comment-div">
						<p id="user">Abdoulaye 2days ago (edited)</p>
						<span id="user-btn2"><i class="fas fa-user-circle"></i></span>
						<input
							type="text"
							name=""
							value="Great video .........."
							placeholder="Add a public comment..."
							class="comments-line2"
						/>
						<p id="icons-comment">
							<span><i class="fas fa-thumbs-up"></i></span>
							<span><i class="fas fa-thumbs-down"></i></span>
							<span>REPLY</span>
						</p>
					</form>
				</div>

				<div>
					<form action="index.html" method="post" class="comment-div">
						<p id="user">Abdoulaye 2days ago (edited)</p>
						<span id="user-btn2"><i class="fas fa-user-circle"></i></span>
						<input
							type="text"
							name=""
							value="Great video .........."
							placeholder="Add a public comment..."
							class="comments-line2"
						/>
						<p id="icons-comment">
							<span><i class="fas fa-thumbs-up"></i></span>
							<span><i class="fas fa-thumbs-down"></i></span>
							<span>REPLY</span>
						</p>
					</form>
				</div>

				<div>
					<form action="index.html" method="post" class="comment-div">
						<p id="user">Abdoulaye 2days ago (edited)</p>
						<span id="user-btn2"><i class="fas fa-user-circle"></i></span>
						<input
							type="text"
							name=""
							value="2020 people’s listening are PERFECT.You aren't the only one who's is watching this in 2020"
							placeholder="Add a public comment..."
							class="comments-line2"
						/>
						<p id="icons-comment">
							<span><i class="fas fa-thumbs-up"></i></span>
							<span><i class="fas fa-thumbs-down"></i></span>
							<span>REPLY</span>
						</p>
					</form>
				</div>

				<div>
					<form action="index.html" method="post" class="comment-div">
						<p id="user">Abdoulaye 2days ago (edited)</p>
						<span id="user-btn2"><i class="fas fa-user-circle"></i></span>
						<input
							type="text"
							name=""
							value="Great video. You aren't the only one who's is watching this in 2020"
							placeholder="Add a public comment..."
							class="comments-line2"
						/>
						<p id="icons-comment">
							<span><i class="fas fa-thumbs-up"></i></span>
							<span><i class="fas fa-thumbs-down"></i></span>
							<span>REPLY</span>
						</p>
					</form>
				</div>
node_modules
