* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

nav {
	background: #2e6472;
	display: flex;
	justify-content: space-between;
}



#logo-image {
	width: 100%;
	height: 100px;
}



#search {
	width: 80%;
	height: 2rem;
}

.container {
	padding: 1.5rem;
	margin: 1rem;
}



section {
	float: left;
	width: 60%;
}

iframe {
	width: 100%;
	height: 80vh;
	width: "100%";
	height: "60%";
}

.link a {
	font-size: 14px;
	text-decoration: none;
	font-family: sans-serif;
	color: blueviolet;
}

.likes span {
	padding-left: 0.5rem;
	/* margin: 0.3rem; */
	font-size: 12px;
}

.likes span i {
	font-size: 15px;
}

.views-count-and-like-icons {
	display: flex;
	justify-content: space-between;
	font-family: sans-serif;
}

.views-count-and-like-icons span {
	padding-left: .5rem;
	/* margin: .3rem; */
	pointer-events: pointer;
}


aside {
	display: flex;
	flex-direction: column;
	float: right;
	width: 35%;
}


.side-bar-intro-text {
	display: flex;
	justify-content: space-between;
}

.side-bar-intro-text span i {
	font-size: 25px;
	color: rgb(41, 41, 194);
}

.upnext img {
	float: left;
	width: 40%;
	height: 120px;
	padding: 0.5rem;
	/* margin: 1rem; */
}

.recomended img {
	float: left;
	width: 40%;
	height: 120px;
	padding: 0.5rem;
}

.description-text {
	/* float: right; */
	padding: 0.5rem;
	font-size: 12px;
}

.title {
	font-weight: bold;
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
